body {
    font-family: sans-serif;
    /* background-color: #001f3f */
    background-image: url('./bg.jpg');
    position: fixed;
    overflow: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

/* h1, h2, h3, h4 {
    color: #ffffff;
}

h1, h2 {
    font-family: 'georgia', serif;
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}


p, dd, dt {
    color: #cccccc;
}

a {
    text-decoration: none;
    color: #ffffcc;
    font-size: .75em;
} */

/* .pane {
    position: absolute;
    left: 25%;
    border: 2px solid;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    border-color: #999999;
    background-color: #001f3f
} */

/* .header {
    left: 50%;
    text-align: center;
}

.flash {
    background: #cee5f5;
} */