<html>
    <head>
        <title>Hostel Dues | NIT Calicut</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=nos, minimum-scale=1.0, maximum-scale=1.0">
        <meta charset="utf-8">
        <link rel="icon" href="../static/favicon.ico">
        <link rel=stylesheet type=text/css href="../static/css/styles.css">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130583081-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-130583081-1');
        </script>
    </head>
    <body>
        <nav>
            <img src="../static/nitc-logo.png" width="45px" height="45px" alt="">                
            <h1>NIT-C | Hostel Dues Checker</h1>
        </nav>

        <main>
            <form action="" method="post">
                 <input type="text" placeholder="Roll number (Eg. B150487CS)" 
                        name="roll_no" required="true" autocomplete="off" >
                 <input class="button" type="submit" value="Check">
            </form>
            <div class="message">
            {% if (name and due) or result %}
                    <div class="row">
                        <div class="name">Name: {{name}}</div>
                        <div class="due">Due: <b>&#8377;{{due}}/-</b></div>
                        <div class="notify">{{result}}</div>
                    </div>
            {% else %}
                <div><i>Enter your Roll no. to check hostel dues.</i></div>
                <div>Last update: {%if date%}<b>{{date}}</b>{%endif%}</div>
            {% endif %}
            </div>
            <div class="message">
                by <a href="https://www.linkedin.com/in/sandeepg97/">👨‍💻 sandeep</a>
                &middot;
                <a href="http://hostel-dues.herokuapp.com/roll_no">api</a>
            </div>
        </main>
    </body>
</html>